*{
    margin: 0;
    padding: 0;
    font-family: "OnePieceFont";
}

html,
body{
    overflow-y: auto;
    overflow-x: hidden;
}

@font-face {
    font-family: "OnePieceFont";
    src: url("../Assets/Fonts/OnePieceFont.ttf");
}

.flex{
    display: flex;
}

#content{
    display: flex;

    flex-grow: 1;

    justify-content: space-between;
    align-items: center;

    min-width: 100vw;
    min-height: 100%;
    background-image: url("../Assets/Images/Ocean.jpg");

    overflow-y: auto;
    overflow-x: hidden;
}

.modal{
    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 200;

    max-width: 350px;
    height: 650px;

    background-image: url("../Assets/Images/WantedBg.jpg");

    text-align: center;

    padding: 25px 50px;
}

.modal > p{
    margin-top: 16px;

    font-weight: 700;
}

.rotateShipBtn{
    margin-top: 24px;
    margin-bottom: 16px;

    background-image: url("../Assets/Images/GumGum.jpg");

    color: white;

    font-size: 18px;
    font-weight: 700;
}

.modal > .gameBoard > .rowDiv > .square,
.modal > .gameBoard
{
    border: 2px rgb(135, 93, 9) solid;
}

.modal > .gameBoard
{
    margin-top: 40px;
}

.modal > .gameBoard > .rowDiv{
    height: 35px;
}

.modal > .gameBoard > .rowDiv > .square
{
    width: 35px;
    height: 35px;
}

h1{
    margin-top: 8px;
    
    color: rgb(0, 0, 0);
}

.rotateShipBtn{
    width: 150px;
    height: 50px;
}

.shipPlaced{
    background-color: brown;
}

.painted{
    background-color: black;
}

.leftImgDiv,
.rightImgDiv{
    display: flex;

    min-height: 100vh;
    min-width: 15vw;
}

.LuffyImg{
    height: min(4000px, 80vh);
    max-width: auto;

    position: absolute;
    left: 11%;
    top: 56%;

    transform: translate(-50%, -45%);
}

.gameContainer{
    flex-direction: column;

    height: 100vh;
    min-width: 70vw;

    justify-content: center;
    align-items: center;
}

.onePieceLogoImg{
    position: absolute;

    width: max(200px, 30%);
    height: max(75px, 20%);

    left: 49%;
    top: 12%;

    transform: translate(-50%, -50%);

    z-index: 8;
}

.xLogo{
    position: absolute;
    width: max(200px, 40%);
    height: max(200px, 40%);

    left: 50%;
    top: 16%;

    transform: translate(-50%, -50%);

}

.battleshipLogo{
    position: absolute;

    width: max(200px, 28%);
    height: max(50px, 15%);

    left: 50%;
    top: 20%;

    transform: translate(-50%, -50%);
}

.gameBoardContainers{
    display: flex;

    max-width: 100%;
    height: 70%;

    justify-content: center;
    align-items: center;

    gap: 50px;

    margin-top: auto;

    flex-wrap: wrap;
}

.gameBoardContainer{
    margin: 145px 15px 0 25px;

    max-width: 100%;

    text-align: center;
}

.playerInfoContainer,
.AIInfoContainer{
    align-items: center;

    margin-bottom: 12px;

    gap: 18px;
}

.player1Token,
.AIToken{
    width: 80px;
    height: 80px;

    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player1Token{
    background-image: url("../Assets/Images/SHEmblem.png");
}

.AIToken{
    background-image: url("../Assets/Images/MarineEmblem.png")
}

.player1Name,
.AIName{
    font-size: 26px;
    font-weight: 1000;
    font-family: "OnePieceFont";
}

.player1Name,
.player1NumShipsP{
    color: rgb(157, 11, 230);
}

.AIName,
.AINumShipsP{
    color: rgb(226, 66, 12);
}

.gameBoard{
    border: 2px solid rgb(255, 255, 255);
    z-index: 15;
}

.rowDiv{
    display: flex;
    height: 35px;
}

.square{
    width: 35px;
    height: inherit;

    border: 2px solid rgb(255, 255, 255);

    z-index: 50;
}

.square.AI:hover{
    background-color: green;
}

.imgContainer{
    pointer-events: none;
    z-index: -10;
}

.shipInfoContainer{
    
    padding-left: 50px;
    padding-top: 12px;

    align-items: center;

    gap: 25px;
}

.shipImgIcon{
    width: 60px;
    height: 60px;
}

.player1NumShipsP,
.AINumShipsP{
    font-weight: 700;

    font-size: 24px;

    font-family: "OnePieceFont";
}

.akainuImg{
    height: min(4000px, 80vh);
    max-width: auto;

    position: absolute;
    left: 12%;
    top: 60%;

    transform: translate(260%, -50%);
}

.actionButtonsDiv{
    margin-bottom: 25px;
    margin-right: 50px;

    gap: 20px;
}

.sound{
    width: 40px;
    height: 40px;
}

.quitGameBtn{
    width: 150px;
    height: 40px;

    font-size: 18px;
    font-weight: 700;

    background-image: url("../Assets/Images/GumGum.jpg");
    
    color: white
}

.explosion,
.miss{
    width: 25px;
    height: 25px;

    margin-top: 5px;

    z-index: 20;
}

#invalid{
    background-color: red;
}